{% extends 'base_kompany.html' %}
{% load staticfiles %}
{% load static %}
{% load user_extras %}
{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="{% static 'user/css/cart-css.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        {% if product_list %}
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in product_list %}
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img
                                        src="/static/kompany/images/{{ item.product.category_type_id }}s/{{ item.product_id }}-0.jpeg"
                                        alt="..."
                                        class="img-responsive"/></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{ item.product.product_name }}</h4>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{ item.product.discounted_price }}</td>
                        <td data-th="Quantity">
                            {{ item.quantity }}
                        </td>
                        <td data-th="Subtotal"
                            class="text-center">{% multiply item.product.discounted_price item.quantity %}</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                            <a href="{% url 'user:remove_item' item.product_id %}">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                {#        <tr class="visible-xs">#}
                {#            <td class="text-center"><strong>Total 1.99</strong></td>#}
                {#        </tr>#}
                <tr>
                    <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total ₹{{ price }}</strong></td>
                    <td><a href="{% url 'user:check_out' %}" class="btn btn-success btn-block"> Checkout <i
                            class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
        {% if empty_cart %}
            <h1>{{ empty_cart }}</h1>
            <a href="{% url 'kompany:home' %}">
                <button>Continue Shopping</button>
            </a>
        {% endif %}
    </div>
{% endblock %}