.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

body {
    text-align: center;
    margin: 20px;
    padding-top: 10rem;
    background: #fff;
    /*font-family: 'Monospaced', cursive;*/
}

nav {
    background-color: #0099FF;
    min-height: 80px !important;
    padding-top: 15px;
}

nav a {
    color: #ffffff;
    font-size: 20px;
}

nav a:hover {
    color: #FFFF00;
    background-color: #0099FF;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}