
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 300;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #0099FF;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i {
    font-size: 30px;
}

/*************************
*******login page CSS******
**************************/

#form {
    position: relative;
    margin-bottom: 185px;
    margin-top: 185px;
}

.login-form h2, .signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.login-form form input, .signup-form form input {
    background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.login-form form span {
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: none;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button, .signup-form form button {
    font-size: large;
    background: #0099FF;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}
 .login-form form button:hover{
     background: #008fff;
     color: #000000;
 }
.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}

.bgimg-1 {
    position: relative;
    opacity: 0.65;
    background-color: #ffffff;
    /*background: url("../images/back-base.jpg") no-repeat fixed center;*/
    background-size: cover;
}
